<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataObjects.Properties.Settings.ActionConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Program Files\DoFactory\Design Pattern Framework 3.5 CS\Patterns In Action\Host.WCF.ActionServer\App_Data\Action.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>